<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/dist/output.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>

<body class="bg-neutral-1000 antialiased font-inter">
  <main class="flex justify-center items-start p-5 gap-4 flex-col">
    <!-- medium -->
    <!-- Default -->
    <button
      class="bg-neutral-50 py-2 px-6 w-btn-m rounded-btn text-base font-bold text-neutral-1000 font-inter shadow-btn backdrop-btn hover:bg-neutral-200 disabled:bg-neutral-50 disabled:opacity-50">Create
      account</button>
    <!-- Disabled -->
    <button
      class="bg-neutral-50 py-2 px-6 w-btn-m rounded-btn text-base font-bold text-neutral-1000 font-inter shadow-btn backdrop-btn opacity-50">Create
      account</button>
    <!-- outlined -->
    <button
      class=" py-2 px-6 w-btn-m rounded-btn text-base font-bold font-inter shadow-btn backdrop-btn text-twitter-blue border-sm  border-button-stroke">Create
      account</button>


    <!-- large buttons  -->
    <!-- Default -->
    <button
      class="bg-neutral-50 py-2 px-6 w-btn-l rounded-btn text-base font-bold text-neutral-1000 font-inter shadow-btn backdrop-btn hover:bg-neutral-200 disabled:bg-neutral-50 disabled:opacity-50">Next</button>



    <!-- Disabled -->
    <button
      class="bg-neutral-50 py-2 px-6 w-btn-l rounded-btn text-base font-bold text-neutral-1000 font-inter shadow-btn backdrop-btn opacity-50">Next</button>

    <!-- outlined sm -->
    <button
      class=" py-1.5 px-4 rounded-btn text-sm font-bold font-inter shadow-btn backdrop-btn text-neutral-50 border-sm  border-button-stroke">Following</button>

    <!-- small buttons -->
    <!-- default -->
    <button
      class="bg-neutral-50 py-2 px-5 rounded-btn text-base font-bold text-neutral-1000 font-inter border-btn-sm disabled:bg-neutral-50 disabled:opacity-50 hover:bg-neutral-200">Follow</button>

    <!-- Disabled -->
    <button
      class="bg-neutral-50 py-2 px-5 rounded-btn text-base font-bold text-neutral-1000 font-inter border-btn-sm opacity-50">Follow</button>

    <!-- Post buttons -->
    <!-- Medium -->
    <!-- Default -->
    <button
      class="bg-twitter-blue py-0.9 px-5.8  rounded-btn-post text-base font-bold text-neutral-50 font-inter hover:bg-twitter-blue-hover disabled:opacity-50">Post</button>
    <!-- Disabled -->
    <button
      class="bg-twitter-blue py-0.9 px-5.8  rounded-btn-post text-base font-bold text-neutral-50 font-inter  opacity-50">Post</button>

    <!-- small -->
    <!-- Default -->
    <button
      class="bg-twitter-blue py-3 px-6 rounded-btn-sm text-base font-bold text-neutral-50 font-inter hover:bg-twitter-blue-hover disabled:opacity-50">Post</button>

    <!-- Disabled -->
    <button
      class="bg-twitter-blue py-3 px-6 rounded-btn-sm text-base font-bold text-neutral-50 font-inter  opacity-50">Post</button>

    <!-- large -->
    <!-- Default -->
    <button
      class="bg-twitter-blue py-5 w-btn-l rounded-btn-post text-base font-medium text-neutral-50 font-inter hover:bg-twitter-blue-hover disabled:opacity-50">Post</button>

    <!-- Disabled -->
    <button class="bg-twitter-blue py-5  
   w-btn-l rounded-btn-post text-base font-medium text-neutral-50 font-inter  opacity-50">Post</button>


    <!-- section  -->
    <div class="text-neutral-50 flex flex-row gap-40  border-b-neutral-700 border-b-sm px-20">

      <button class="font-medium text-neutral-400 focus:border-b-twitter-blue focus:text-neutral-50 focus:border-b-m pb-4 px-2">For
        you</button>


      <button class="font-medium text-neutral-400 focus:border-b-twitter-blue focus:border-b-m focus:text-neutral-50 pb-4 px-2">Following</button>

    </div>


    <!-- icons -->

    <div class="flex flex-row justify-center items-center gap-10 m-4 ">
      <div class="flex flex-col gap-5">
        <img src="/public/images/home-state-not-selected.svg" alt="home" class="h-6 w-6">
        <img src="/public/images/home-state-selected.svg" alt="home" class="h-6 w-6">
      </div>

      <div class="flex flex-col gap-5">
        <img src="/public/images/group-state-not-selected.svg" alt="group" class="h-6 w-6">
        <img src="/public/images/group-state-selected.svg" alt="group" class="h-6 w-6">
      </div>
    </div>

    <!-- inputs -->
    <div class="flex flex-col items-start relative group">

      <div class="relative">
        <p class="text-neutral-500 px-1 bg-neutral-1000 text-xs -mt-2 absolute ml-5 z-10 group-focus:text-twitter-blue">
          Label</p>
        <input type="text" placeholder="label"
          class="py-4 px-3 bg-neutral-1000 rounded-inp border-sm border-neutral-500 w-inp absolute block placeholder:text-neutral-600  focus:border-twitter-blue focus:outline-none text-neutral-50">
      </div>

    </div>

    <div class="flex mt-14 gap-3">
      <img src="/public/images/user-avatar.jpg" alt="">
      <input type="text"
        class="w-btn-l bg-neutral-1000 placeholder:text-neutral-600 placeholder:text-xl focus:outline-none text-neutral-50 caret-twitter-blue"
        placeholder="What's Happening?! ">
    </div>

    

    <div class="flex w-search mb-4 relative py-0.6  items-center  bg-searchbar-fill rounded-search gap-0.9 pl-4 h-search focus:stroke-twitter-blue ">
      <div class="flex justify-center group ">
        <span class="flex items-center leading-normal focus:stroke-twitter-blue ">
          <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
            <path d="M16.0446 15.2054L13.1471 12.3079C14.1961 11.065 14.8334 9.46109 14.8334 7.70834C14.8334 3.77375 11.643 0.583336 7.70837 0.583336C3.77379 0.583336 0.583374 3.77375 0.583374 7.70834C0.583374 11.6429 3.77379 14.8333 7.70837 14.8333C9.46192 14.8333 11.065 14.1968 12.3064 13.1471L15.2039 16.0446C15.3202 16.1602 15.473 16.2188 15.6235 16.2188C15.7739 16.2188 15.9282 16.161 16.043 16.0446C16.2766 15.8126 16.2766 15.4374 16.0446 15.2054ZM1.77087 7.70834C1.77087 4.43479 4.43483 1.77084 7.70837 1.77084C10.9819 1.77084 13.6459 4.43479 13.6459 7.70834C13.6459 10.9819 10.9819 13.6458 7.70837 13.6458C4.43483 13.6458 1.77087 10.9819 1.77087 7.70834Z" fill="#737373"/>
            </svg>
        </span>
      </div>
      <input type="text"
        class="leading-normal  border-0 h-search rounded-r-search font-normal  text-base outline-none bg-searchbar-fill text-neutral-50"
        placeholder="Search" />
    </div>

    <div class="flex w-search mb-4 relative py-0.6  items-center  bg-searchbar-fill rounded-search gap-0.9 pl-4 h-search border-sm
    group ">
      <div class="flex justify-center ">
        <span class="flex items-center leading-normal ">
          <img src="/public/images/dark-theme-search-group.svg" alt="search" class="z-10 h-1.1 w-1.1 ">
        </span>
      </div>
      <input type="text"
        class="leading-normal  rounded-r-search    text-base outline-none font-normal bg-searchbar-fill text-neutral-50 group"
        placeholder="Search" />
    </div>


    

  </main>
  <section class="bg-twitter-blue-disable p-20 flex flex-col gap-4">

    <div class="bg-neutral-1000 rounded-2xl w-32 h-22">

    </div>

    <div class="bg-neutral-1000 rounded-2xl w-32 px-0.6 py-0.9">
      <div class=" py-3 px-4 flex flex-row gap-5">
        <img src="/public/images/signup-x.svg" alt="close">
        <p class="text-0.9 font-bold text-neutral-50 ">Header</p>
      </div>
      <div class="px-5 pt-20 pb-5">

      </div>
    </div>


  </section>

  <section class="flex m-10">
    <div class="text-neutral-50 flex flex-row px-4 py-2 gap-4 w-tweet border-b-sm border-b-neutral-700">
    
        <img src="/public/images/user-avatar-tweet.jpg" alt="user-avatar" class="w-12 h-12">
      
      <div class=" font-normal">
          <div class="text-neutral-500 text-base">
            <span class="text-neutral-50 font-medium">Name</span>
            <span>@handle</span>
            <span>•</span>
            <span>10h</span>
          </div>
          <p>Writing gets easier after the first sentence.<br><br>
            Lifting gets easier after the first set.<br><br>
            People think and think and think until they finally decide to act. 
            Their attention shifts from internal to external, and the difficulty they created in their mind vanishes</p>

          <div class="py-3 flex flex-row justify-between">
            <div class="flex flex-row gap-1 items-center">
              <img src="/public/images/comment.svg" alt="comment" class="h-0.9 w-0.9">
              <p class="text-neutral-500 text-sm">11</p>
            </div>
            <div class="flex flex-row gap-1 items-center">
              <img src="/public/images/group-26840.svg" alt="comment" class="h-0.9 w-0.9">
              <p class="text-neutral-500 text-sm">270</p>
            </div>
            <div class="flex flex-row gap-1 items-center">
              <img src="/public/images/heart.svg" alt="comment" class="h-0.9 w-0.9">
              <p class="text-neutral-500 text-sm">1,869</p>
            </div>
            <div class="flex flex-row gap-1 items-center">
              <img src="/public/images/analytics.svg" alt="comment" class="h-0.9 w-0.9">
              <p class="text-neutral-500 text-sm">99.6K</p>
            </div>
            <div class="flex flex-row gap-1 items-center">
              <img src="/public/images/vector.svg" alt="comment" class="h-0.9 w-0.9">
        
            </div>
          </div>
    </div>


    </div>

    

  </section>
</body>

</html>
